<%= render 'shared/messages' %>
<h1><strong>Clubs</strong></h1>
<div><%= link_to 'Create a Club', new_club_path, class: 'btn btn-outline-success mb-3' %></div>
<h4 class="d-inline p-2 custom-underline">Club Listing</h4> -
<h4 class="d-inline p-2">Total: <%= @clubs.count %> Clubs</h4>



<%= smart_listing_render(:clubs) %>
