<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
          <h3 class="card-title">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <%= pluralize(obj.errors.count, "error") %>
            prohibited post from being saved:
          </h3>
          <div class="card-block">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>

<% end %>