@import "bootstrap";
@import "font-awesome";

html,
body {
	overflow-x: hidden;
	height: 100%;
	font-family: 'Nanum Myeongjo', sans-serif;
	font-size:16px;
  letter-spacing: 0.3px;
}

/* NAVIGATION */

.navbar {
  border-bottom:1px solid red;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.8)	
}

.navbar .nav-link:hover {
  color: #fff;
}


/* NAVIGATION Menu Color */

.navbar .nav .nav-link {
  color: white;
}

.navbar .nav .nav-link i {
  color: white;
}

.navbar .nav .nav-link i:hover {
  color: rgba(255,255,255, 0.9);
}

.navbar .nav .btn-logout {
	margin-top: 2px;
}

.navbar .nav-item .dropdown-toggle {
  color: rgba(255,255,255, 0.78);
}

.navbar .nav-item .dropdown-toggle:hover {
  color: rgba(255,255,255, 0.9);
}


/* CUSTOM UNDERLINE */

.custom-underline {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.custom-underline:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 8%;
    border-bottom: 1px solid;
}


/* Placeholder */

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}


/* Form */


.field_with_errors {
  padding: 2px;
  .form-control {
    border: 2px solid #721c24;
  }
}



/* Smart Listing Sortable */

.sortable {
  color: white;
}

.sortable:hover {
  color: #F8F8FF;
}