<ul class="nav">
  <li class="nav-link"><%= "#{@semester.session}" %></li>
  <%#= link_to "", destroy_user_session_path, method: :delete, class: "btn-logout nav-item nav-link fa fa-sign-out" %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#logoutbutton">
    <i class="fa fa-sign-out"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="logoutbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Log out from the system? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</ul>